@import "tailwindcss";

body {
  background-color: #020617; /* Slate 950 */
  color: #f8fafc;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}